.messageField {
  flex: 0 0 auto;

  width: 100%;
  padding: 16px 16px;
  box-sizing: border-box;

  border-top: 1px solid var(--color-universal-br);

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 11px;
}

.inputButton {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  
  border: none;
  outline: none;
  
  cursor: pointer;
  transition: var(--transition);
  
  opacity: 0.8;
  
  background-color: var(--color-content-darkest);

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.inputButton:hover {
  opacity: 1;
}

.attachButton {
  mask-image: url('../../../static/attach.svg');
}

.sendButton {
  mask-image: url('../../../static/send-msg.svg');
  width: 17px;
}

.input {
  flex: 1;

  padding: 11px 13px;

  border: 1px solid transparent;
  border-radius: 12px;
  outline: none;
  background-color: var(--color-item-bg);

  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.02em;
  font-family: inherit;
  color: var(--color-content);

  transition: var(--transition);
}

.input:hover {
  border-color: var(--color-btn-br);
}
