/* Handling autofill */
.input:-webkit-autofill,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    /* Setting the bg of inputs
      to transparent on autofill */
    -webkit-transition-delay: 999999s;
    transition-delay: 999999s;
    
    /* Setting the text-color
      of inputs on autofill */
    -webkit-text-fill-color: var(--color-content-light) !important;
}

.inputEditLabel {
  width: 100%;
  position: relative;
}

.labelSpan {
  position: absolute;
  left: 8px;
  top: 15px;
  font-family: inherit;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--color-content-darkest);
}

.input {
  width: 100%;
  padding: 14px 10px 15px 10px;

  display: flex;
  text-align: center;
  
  border: none;
  border-bottom: solid 1px var(--color-panel-lightest);  
  box-sizing: border-box;

  background-color: transparent;

  font-family: inherit;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--color-content-light);

  transition: 0.2s ease-in-out;
}

.input_editor {
  text-align: right;
  font-style: italic;
}


.input_error::placeholder {
  opacity: 0.4;
}

.errorLabel {
  display: block;

  position: absolute;
  right: 4px;
  bottom: 9px;

  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: 8px;
  color: var(--color-alert);
  text-align: right;
}

.input::placeholder {
  color: var(--color-content-darkest);
}

.input_editor::placeholder {
  color: var(--color-content-light);
}

.input_search {
  border-bottom: none;
}

.input:hover {
  border-color: var(--color-acc-bold);
}

.input:focus {
  outline: none;
  border-color: var(--color-acc);
}
