.inputWrap {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 14px 8px 15px 8px;

  display: flex;
  text-align: center;
  
  border: none;
  border-bottom: solid 1px var(--color-panel-lightest);  
  box-sizing: border-box;

  background-color: transparent;

  font-family: inherit;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--color-content-light);

  transition: 0.2s ease-in-out;
}

.input_editor {
  text-align: right;
  font-style: italic;
}


.input_error::placeholder {
  opacity: 0.4;
}

.errorLabel {
  display: block;

  position: absolute;
  right: 4px;
  bottom: 9px;

  font-size: 11px;
  letter-spacing: 0.05em;
  line-height: 8px;
  color: var(--color-alert);
  text-align: right;
}

.input::placeholder {
  color: var(--color-content-darkest);
}

.input_editor::placeholder {
  color: var(--color-content-light);
}

.input_search {
  border-bottom: none;
}

.input:hover {
  border-color: var(--color-acc-bold);
}

.input:focus {
  outline: none;
  border-color: var(--color-acc);
}

.inputEditLabel {
  position: absolute;
  top: 14px;
  left: 8px;

  font-family: inherit;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.02em;
  color: var(--color-content-darkest);
}
