.authHeading {
  padding: 0 8px;
  height: auto;
}

.authContent {
  padding-top: 215px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--color-panel-lightest);
}

.authFooter {
  width: 100%;
  padding: 215px 8px 8px 8px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.authFooter__submits {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
}

.authFooter_signUp {
  justify-content: center;
}
