.button {
 width: min-content;

 padding: 0;

 font-size: 14px;
 line-height: 15px;
 letter-spacing: 0.02em;

 border-radius: 6px;
 border: 1px solid transparent;
 background-color: var(--color-btn-bg);

 outline: none;

 cursor: pointer;
 transition: var(--transition);
}

.button_silent {
 border: 1px solid var(--color-universal-br);
 background-color: transparent;
}

.button:hover {
  border-color: var(--color-universal-br-active);
}

.button > a {
  display: block;
  padding: 14px 6px;
  box-sizing: border-box;

  font-family: var(--font-family);
  color: var(--color-content);
  white-space: nowrap;
  text-decoration: none;
}
