.button {
 width: min-content;

 font-size: 14px;
 line-height: 15px;
 letter-spacing: 0.02em;

 padding: 14px 6px;
 box-sizing: border-box;

 border-radius: 6px;
 border: 1px solid transparent;
 background-color: var(--color-btn-bg);

 font-family: inherit;
 color: var(--color-content);
 white-space: nowrap;

 cursor: pointer;
 transition: var(--transition);
}

.button_silent {
 border: 1px solid var(--color-universal-br);
 background-color: transparent;
}

.button:hover {
  border-color: var(--color-universal-br-active);
}