.button {
 display: block;
 box-sizing: border-box;

 width: min-content;
 
 padding: 14px 6px;

 font-size: 14px;
 line-height: 15px;
 letter-spacing: 0.02em;
 font-family: var(--font-family);
 color: var(--color-content);
 white-space: nowrap;
 text-decoration: none;

 border-radius: 6px;
 border: 1px solid transparent;
 background-color: var(--color-btn-bg);

 outline: none;

 cursor: pointer;
 transition: var(--transition);
}

.button_silent {
 border: 1px solid var(--color-universal-br);
 background-color: transparent;
}

.button:hover {
  border-color: var(--color-universal-br-active);
}
