.catalogueItem {
  width: 100%;

  display: flex;
  column-gap: 8px;

  padding: 11px 8px;
  box-sizing: border-box;

  border: 1px solid transparent;
  border-radius: 8px;

  background-color: var(--color-item-bg);

  transition: var(--transition);
  cursor: pointer;
}

.catalogueItem:hover {
  border-color: var(--color-universal-br-active);
}

.avatar {
  width: 34px;
  height: 34px;
  flex: 0 0 auto;

  border-radius: 50%;
  background-color: var(--color-item-bg);
}

.catalogueItem__content {
  flex: 1; 
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2px;
}

.userName {
  margin: 0;

  font-family: inherit;
  font-size: 13px;
  line-height: 15px;

  color: var(--color-content-light);
}

.contentText {
  margin: 0;

  font-family: inherit;
  font-size: 13px;
  line-height: 15px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: var(--color-content-dark);
}

.catalogueItem__infoBox {
  flex: 0 0 auto;

  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  row-gap: 0px;

}

.infoBoxText {
  margin: 0;

  font-family: inherit;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.03em;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: var(--color-content-darkest);
  opacity: 0.8;
}

.infoBoxText_unread {
  color: var(--color-content-dark);
  opacity: 1;
}
