.moduleWindow_chat {
  width: auto;
  max-width: 1100px;
  height: calc(100vh - 100px);

  flex-direction: row;
}

.catalogue {
  width: 320px;

  display: flex;
  flex-direction: column;

  background-color: var(--color-panel-light);
  border-right: var(--color-universal-br) 1px solid;
}

.catalogue__head {
  padding: 0 8px 8px 8px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  border-bottom: var(--color-universal-br) 1px solid;
}

.catalogue__headings {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.searchInput {
  width: 100%;
  padding: 13px 8px;
  box-sizing: border-box;

  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;

  background-color: var(--color-btn-bg);

  font-family: inherit;
  color: var(--color-content-light);
  text-align: center;

  transition: var(--transition);
}

.searchInput::placeholder {
  color: var(--color-content-darkest);
}

.searchInput:hover {
  border-color: var(--color-universal-br);
}

.searchInput:focus {
  border-color: var(--color-universal-br-active);
}

.catalogue__items {
  margin-top: 8px;
  
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  padding: 0 8px;
  box-sizing: border-box;
}

.chat {
  min-width: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat__header {
  width: 100%;
  flex: 0 0 auto;

  padding: 16px 11px;
  box-sizing: border-box;
  
  border-bottom: 1px solid var(--color-universal-br);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatParticipant {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.chatParticipant__avatar {
  width: 34px;
  height: 34px;
}

.chatParticipant__name {
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;

  color: var(--color-content-light);
}

.chatOptions {
  display: flex;
  align-items: center;
  column-gap: 4px;
  opacity: 0.8;
}

.chatOptions__button {
  width: 20px;
  min-width: 20px;
  height: 20px;

  border: none;
  outline: none;
  background-color: transparent;

  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.8;

  transition: var(--transition);
  cursor: pointer;
}

.chatOptions__button:hover {
  opacity: 1;
}

.chat__feed {
  width: 100%;
  flex: 1;

}
