.moduleWindow_profile {
  min-width: 500px;

  align-items: center;
}

.profileHeadings {
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.profileFace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileFace__name {
  margin-top: 14px;
  font-size: 25px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: -0.02em;

  color: var(--color-content-light);
}

.profileInputs {
  width: 100%;
  padding: 42px 0;
}

.profileInputs__list {
  border-top: 1px solid var(--color-universal-br);

  width: 100%;

  display: flex;
  flex-direction: column;
}

.profileFooter {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  
  padding-bottom: 8px;
  box-sizing: border-box;
}
