.moduleWindow_profile {
  min-width: 500px;

  align-items: center;
}

.profileHeadings {
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.settingsContent {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsFace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsFace__name {
  margin-top: 14px;
  font-size: 25px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: -0.02em;

  color: var(--color-content-light);
}

.settingsInputs {
  width: 100%;
  padding: 20px 0;
}

.settingsInputs__list {
  border-top: 1px solid var(--color-universal-br);

  width: 100%;

  display: flex;
  flex-direction: column;
}

.settingsFooter {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  
  padding-bottom: 8px;
  box-sizing: border-box;
}

.avatarContainer {
  display: block;    
  position: relative;

  width: 130px;  
  height: 130px;     

  border-radius: 50%;

  overflow: hidden;  
  cursor: pointer;
}

.avatarImage {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* The overlay that appears on top of le image */
.avatarOverlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  background-color: var(--avatar-select-bg);

  display: flex;
  justify-content: center;
  align-items: center;
  
  opacity: 0;
  
  transition: opacity 0.3s ease-in-out;
}

/* Shows overlay on le hover */
.avatarContainer:hover .avatarOverlay {
  opacity: 1;
}

/* The text inside the overlay */
.overlayText {
  color: var(--color-acc-light);
  font-size: 20px;
  font-weight: 300;

  text-align: center;
  line-height: 30px;

  text-shadow:
  0 0 5px var(--color-content-light),
  0 0 10px var(--color-alert),
  0 0 30px var(--color-alert);
}

/* Hidin the default file input completely */
.avatarFileInput {
  display: none;
}
