.moduleWindow_profile {
  min-width: 500px;
  min-height: 800px;

  align-items: center;
}

.profileHeadings {
  width: 100%;
  padding: 0 8px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.settingsContent {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsFace {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsFace__name {
  margin-top: 14px;
  font-size: 21px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 0.02em;

  color: var(--color-content-light);
}

.settingsInputs {
  width: 100%;
  padding: 20px 0;
}

.settingsInputs__list {
  border-top: 1px solid var(--color-universal-br);

  width: 100%;

  display: flex;
  flex-direction: column;
}

.footer {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  justify-content: end;
  
  padding-bottom: 16px;
  box-sizing: border-box;
}

.footer__horBtns {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}
