.subheading {
 padding: 6px 0px 12px 6px;
 margin: 0;
 
 font-size: 16px;
 line-height: 15px;
 font-weight: 500;
 color: var(--color-acc);

 opacity: 0.8;
}

.subheading_drama {
  color: var(--color-alert);
}
