.subheading {
 font-size: 16px;
 line-height: 15px;
 margin-top: 6px;
 margin-bottom: 12px;
 font-weight: 500;
 color: var(--color-acc);
 opacity: 0.8;
}

.subheading_drama {
  color: var(--color-alert);
}
