.moduleWindow {
  width: 400px;
  max-width: 400px;
  height: auto;
  max-height: 90vh;
  padding: 0;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
  border: solid 1px var(--color-universal-br);
  background-color: var(--color-panel);
}

.moduleWindow_mobile {
  width: calc(100% - 16px);
  max-width: calc(100% - 16px);
  height: 90vh;
}
