.spinner {
  width: 16px;
  height: 16px;
  margin: 0 10px;
  
  border: 1px solid var(--color-universal-br-active);
  border-bottom-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;

  animation: rotation 1s linear infinite;
  transition: 2s ease-in;
}

.spinner_big {
  width: 40px;
  height: 40px;

  margin-top: 35px;
}

.spinner_off {
  display: none;
}

 @keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
