.heading {
 margin: 0;

 border-bottom: 1px transparent;
}

.heading_clickable {
 border-bottom: 1px solid var(--color-universal-br);
 cursor: pointer;
 transition: var(--transition);
}

.heading_clickable:hover {
  border-bottom: 1px solid var(--color-acc-bold);
}

.heading > a {
  display: block;
  padding: 17px 0px 12px 0px;
  box-sizing: border-box;

  font-size: 25px;
  line-height: 15px;
  font-family: var(--font-family);
  font-weight: 300;
  letter-spacing: -0.02em;
  color: var(--color-acc);
  white-space: nowrap;
  text-decoration: none;

  cursor: auto;
}

.heading_clickable > a {
  cursor: pointer;
}

.heading_drama > a {
  color: var(--color-alert);
}
