.heading {
 font-size: 25px;
 line-height: 15px;
 padding: 17px 0px 12px 0px;
 margin: 0;
 font-weight: 300;
 letter-spacing: -0.02em;
 color: var(--color-acc);

 border-bottom: 1px transparent;
}

.heading_clickable {
 border-bottom: 1px solid var(--color-universal-br);
 cursor: pointer;
 transition: var(--transition);
}

.heading_clickable:hover {
  border-bottom: 1px solid var(--color-acc-bold);
}

.heading_drama {
  color: var(--color-alert);
}