.moduleWindow {
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0;
  border: solid 1px var(--color-universal-br);
  background-color: var(--color-panel);
}

