.toast {
  position: absolute;
  background-color: var(--color-panel);
  color: var(--color-content-dark);
  border: 1px solid var(--color-universal-br);
  border-radius: 8px;
  padding: 8px 16px;
}

.toast_visible {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.toast__message {
  word-wrap: break-word;
}

/* modificators */
.toast_error {
  color: var(--color-alert);
}

.toast_warning {
  color: var(--color-alert);
}