.toast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  /* keeps toast un-clickable */
  z-index: -1;

  padding: 8px 16px;
  
  background-color: var(--color-panel);
  color: var(--color-content-dark);
  
  border: 1px solid var(--color-universal-br);
  border-radius: 8px;

  opacity: 0;

  word-wrap: break-word;

  transition: var(--transition);
}

.toast_visible {
  /* brings toast to front */
  z-index: 3;
  
  transform: translate(-50%, 100%) scale(1);
  opacity: 1;
}

.toast_error {
  color: var(--color-alert);
}
