.inputWrap {
  flex: 0 0 auto;

  width: 100%;
  padding: 16px 16px;
  box-sizing: border-box;

  border-top: 1px solid var(--color-universal-br);

  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 11px;
}

.inputButton {
  flex: 0 0 auto;

  width: 20px;
  min-width: 20px;
  height: 20px;

  border: none;
  outline: none;
  background-color: transparent;

  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.8;

  transition: var(--transition);
  cursor: pointer;
}

.inputButton:hover {
  opacity: 1;
}

.input {
  flex: 1;

  padding: 11px 13px;

  border: none;
  border-radius: 4px;
  outline: none;
  background-color: var(--color-btn-bg);

  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.02em;
  font-family: inherit;
  color: var(--color-content);

}