.moduleWindow_messenger {
  width: auto;
  max-width: 1100px;
  height: calc(100vh - 100px);

  flex-direction: row;
}

.catalogue {
  width: 320px;

  display: flex;
  flex-direction: column;

  background-color: var(--color-panel-light);
  border-right: var(--color-universal-br) 1px solid;

  overflow-y: scroll;
}

.catalogue::-webkit-scrollbar {
  width: 0;
}

.catalogue__head {
  padding: 0 8px 8px 8px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  row-gap: 8px;

  border-bottom: var(--color-universal-br) 1px solid;
}

.catalogue__headings {
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

.searchInput {
  width: 100%;
  box-sizing: border-box;

  border: 1px solid transparent;
  outline: none;
  border-radius: 4px;

  background-color: var(--color-btn-bg);

  font-family: inherit;
  color: var(--color-content-light);
  text-align: center;

  transition: var(--transition);
}

.searchInput::placeholder {
  color: var(--color-content-darkest);
}

.searchInput:hover {
  border-color: var(--color-universal-br);
}

.searchInput:focus {
  border-color: var(--color-universal-br-active);
}

.catalogue__items {
  margin-top: 8px;
  
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  padding: 0 8px;
  box-sizing: border-box;
}

.chat {
  height: 100%;
  min-width: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chat__header {
  width: 100%;
  flex: 0 0 auto;

  padding: 16px 11px;
  box-sizing: border-box;
  
  border-bottom: 1px solid var(--color-universal-br);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chatParticipant {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.chatParticipant__name {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 18px;

  color: var(--color-content-darkest);
}

.chatOptions {
  display: flex;
  align-items: center;
  column-gap: 4px;

  width: min-content;

  opacity: 0.8;
}

.chatOptions__button {
  width: 20px;
  min-width: 20px;
  height: 17px;

  border: none;
  outline: none;
  background-color: var(--color-content-darkest);

  background-size:auto;
  background-repeat: no-repeat;
  background-position: center;

  mask-image: url('../../../static/close.svg');

  opacity: 0.8;

  transition: var(--transition);
  cursor: pointer;

  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.chatOptions__button:hover {
  opacity: 1;
}

.chat__feed {
  width: 100%;
  flex: 1 1 auto;

  max-height: none;
  overflow-y: auto;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* --- avatar --- */

.avatar {
  width: 38px;
  height: 38px;
}


.avatarContainer {
  display: block;    
  position: relative;

  width: 38px;  
  height: 38px;     

  border-radius: 50%;

  overflow: hidden;  
  cursor: pointer;
}

.avatarImage {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

/* The overlay that appears on top of le image */
.avatarOverlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  background-color: var(--avatar-select-bg);

  display: flex;
  justify-content: center;
  align-items: center;
  
  opacity: 0;
  
  transition: opacity 0.3s ease-in-out;
}

/* Shows overlay on le hover */
.avatarContainer:hover .avatarOverlay {
  opacity: 1;
}

/* The text inside the overlay */
.overlayText {
  font-size: 11px;
  font-weight: 300;
}

/* hidin the default file input completely */
.avatarFileInput {
  display: none;
}
