.heading {
  display: block;
  padding: 17px 0px 12px 0px;
  margin: 0;
  box-sizing: border-box;

  font-size: 25px;
  font-weight: 300;
  letter-spacing: -0.02em;
  color: var(--color-acc);
  white-space: nowrap;
  text-decoration: none;
}

.heading_clickable {
 border-bottom: 1px solid var(--color-universal-br);
 opacity: 0.8;

 cursor: pointer;
 transition: var(--transition);
}

.heading_clickable:hover {
  border-bottom: 1px solid var(--color-acc-bold);
  opacity: 1;
}

.heading_drama {
  color: var(--color-alert);
}
