.heading {
 margin: 0;
 padding: 0;
 
 border-bottom: 1px transparent;
}

.heading__text {
  display: block;
  padding: 17px 0px 12px 0px;
  margin: 0;
  box-sizing: border-box;

  font-size: 25px;
  line-height: 15px;
  font-family: var(--font-family);
  font-weight: 300;
  letter-spacing: -0.02em;
  color: var(--color-acc);
  white-space: nowrap;
  text-decoration: none;
}

.heading__text_clickable {
 border-bottom: 1px solid var(--color-universal-br);

 cursor: pointer;
 transition: var(--transition);
}

.heading__text_clickable:hover {
  border-bottom: 1px solid var(--color-acc-bold);
}

.heading__text_drama {
  color: var(--color-alert);
}
